<div id="imoveisContainer">
    <div class="imovel">
      <div id="imgSide">
        <img src="assets/casa 1.jpg" alt="">
      </div>
      <div id="otherSide">
        <div id="local">
          <p>Xique Xique, Bahia</p>
          <span>Rua sem criatividade</span>
        </div>
        <p id="desc">Imovel no bairro lagoa, 5 metros quadrados, 4 quartos...</p>
        <div id="infoImovel">
          <i class="fa-solid fa-chart-area"></i><span>5m²</span>
          <i class="fa-solid fa-bed"></i><span>4</span>
          <i class="fa-solid fa-shower"></i><span>2</span>
          <i class="fa-solid fa-car"></i><span>1</span>
        </div>
        <div id="finalizarCompra">
          <span>R$400.000</span>
          <button>Mensagem</button>
        </div>
      </div>
    </div>
  </div>